header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* CSS declarations go here */

.max-width {
	max-width: 100%;
	max-height: 100%;
}

.max-width img {
	max-width: 100%;
}

optgroup {
	 font-size:24px
}

.row--nomargin {
	margin: 0;
}

.select-dropdown {
    z-index: 500;
}

.at-error {
    color: #fff;
}

.dropzone {
  position: relative;
  border: 10px dotted #555;
  border-radius: 20px;
  color: #555;
  font: bold 24px/75px arial;
  height: 100px;
  margin: 30px auto;
  text-align: center;
  width: 200px;
}

.dropzone.hover {
  border: 10px solid #FE5;
  color: #FE5;
}

.dropzone span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}