<template name="addCollection">
    {{#autoForm collection="Collections" id="insertCollection" type="insert"}}
		{{> afQuickField name="title"}}
		<button class="waves-effect waves-light btn" type="submit">
			<i class="mdi-content-save left"></i>
			Submit
		</button>
    {{/autoForm}}
</template>

<template name="listCollections">
	<ul class="collection">
		{{#each collections}}
		<li class="collection-item">
			<div>
				<a href="/files/{{_id}}">{{title}}</a><br>
				<code>{{rootUrl}}xml/{{_id}}</code>
				{{#unless locked}}
				<a href="#!" class="secondary-content delete">
					<i class="mdi-content-remove-circle"></i>
				</a>
				{{/unless}}
			</div>
		</li>
		{{/each}}
	</ul>

	<h4>Create collection</h4>
	{{ > addCollection }}
</template>


<template name="CollectionsList">
	<div class="container">
		<h2>Collections</h2>
		{{>listCollections}}
	</div>
</template>