<template name="filesCreate">
	<div class="row center-block">
		<div class="col m3">
			<ul class="collection">
				<li class="collection-item">
					<button class="waves-effect waves-light btn-flat objAdd" value="text">
						<i class="mdi-av-playlist-add left"></i> text
					</button>
				</li>
				<li class="collection-item">
					<button class="waves-effect waves-light btn-flat objAdd" value="logo">
						<i class="mdi-av-playlist-add left"></i> logo
					</button>
				</li>
				<li class="collection-item">
					<button class="btn-flat objCenter" value="xy">
						XY
					</button>
					<button class="btn-flat objCenter" value="x">
						X
					</button>
					<button class="btn-flat objCenter" value="y">
						Y
					</button>
				</li>
				<li class="collection-item">
					<div class="row row--nomargin">
						<button class="btn-flat textAlign col s3" value="left">
							<i class="mdi-editor-format-align-left"></i>
						</button>
						<button class="btn-flat textAlign col s3" value="center">
							<i class="mdi-editor-format-align-center"></i>
						</button>
						<button class="btn-flat textAlign col s3" value="right">
							<i class="mdi-editor-format-align-right"></i>
						</button>
						<button class="btn-flat textAlign col s3" value="justify">
							<i class="mdi-editor-format-align-justify"></i>
						</button>
					</div>
				</li>
				<li class="collection-item">
					<div class="input-field">
						<select class="inputFontFamily">
							{{#each fonts}}
								<option value="{{name}}">{{name}}</option>
							{{/each}}
						</select>
					</div>
				</li>
				<li class="collection-item">
					<div class="input-field">
						<i class="mdi-editor-format-color-text prefix"></i>
						<input id="objectColor" type="text" class="color inputTextColor " name="textcolor">
					</div>
				</li>

				<li class="collection-item">
					<div class="input-field">
						<i class="mdi-editor-format-color-fill prefix"></i>
						<input id="objectColor" type="text" class="color inputBackgroundColor " name="textcolor">
					</div>
				</li>
				<li class="collection-item">
					<button class="waves-effect waves-light btn-flat objRem">
						<i class="mdi-action-delete left"></i> Delete
					</button>
				</li>
				<li class="collection-item">
					<button class="imageCreate btn">Generate image</button>
				</li>
			</ul>
		</div>
		<div class="col m9">
			<p class="range-field">
				<input type="range" class="range zoomCanvas" id="scale-control" value="0.4" min="0.1" max="1" step="0.1">
			</p>
			<canvas id="c" style="border: 1px solid #ccc"></canvas>
		</div>
	</div>
	<div id="modal1" class="modal">
		<form class="imageSave">
			<div class="modal-content row">
				<div class="col m9">
					<div class="max-width">
						<img class="imageFullscreen" src="{{image}}">
					</div>
				</div>
				<div class="col m3">
					<h5>Save image to collection</h5>
					<p>This will be published immediately to all feeds using this collection</p>
					<select name="collection">
						<option value="" disabled selected>(Select One)</option>
						{{#each collections}}
							<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>

					<p class="range-field">
						<input type="range" name="quantity" min="1" max="10" value="1" />
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="waves-effect waves-light btn">Save image</button>
			</div>
		</form>
	</div>

</template>
