<template name="filesList">
	<div class="container">
		<div class="row">
			<div class="col m6">
				<h1>{{collection.title}}</h1>
				<div class="switch">
					<label>
						Unlocked
						<input class="locked" type="checkbox" checked="{{collection.locked}}">
						<span class="lever"></span>
						<span>Locked</span>
					</label>
				</div>
			</div>
			{{#unless collection.locked}}
			<div class="col m6">
				{{>dropZone}}
			</div>
			{{/unless}}
		</div>

		{{> typeDefinition}}
	</div>
</template>