<template name="filesAdd">
	<div class="container">
		<div class="row">
			<div class="col m8">
				<h2>Add new file</h2>
			</div>
			<div class="col m4">
				<div class="card-panel teal">
					<span class="white-text">
						<ul>
							<li>Image resolution: 1920x1080</li>
							<li>JPG (medium) for photos</li>
							<li>PNG for graphics</li>
						</ul>
					</span>
				</div>
			</div>
		</div>
		{{#autoForm id="insertImage" type="insert" collection="Attributes"}}
			<div class="row">
				<div class="col m6">
					{{> afQuickField name="name"}}
					{{> afQuickField name="collection" }}
					{{> afQuickField name="validUntil" type="pickadate"}}
					<button type="submit" class="waves-effect waves-light btn">
					  <i class="mdi-content-send right"></i>
					  Insert
					</button>
				</div>
				<div class="col m6">
					{{> afQuickField name="fileId" }}

				</div>
			</div>
		{{/autoForm}}
	</div>
</template>

<template name="filesList">
	<div class="container">
		<div class="row">
			<div class="col m6">
				<h1>{{collection.title}}</h1>
				<div class="switch">
					<label>
						Unlocked
						<input class="locked" type="checkbox" checked="{{collection.locked}}">
						<span class="lever"></span>
						<span>Locked</span>
					</label>
				</div>
			</div>
			{{#unless collection.locked}}
			<div class="col m6">
				{{>dropZone}}
			</div>
			{{/unless}}
		</div>

		{{> typeDefinition}}
	</div>
</template>