<template name="typeDefinition">
  <div class="sortable target row" id="object">
    {{#sortable items=attributes animation="100" handle=".sortable-handle" ghostClass="sortable-ghost" options=attributesOptions}}
      {{> sortableItemTarget}}
    {{/sortable}}
  </div>
</template>

<template name="sortableItemTarget">
  <div data-id="{{order}}" class="sortable-item removable well well-sm col m3">
    <div class="card {{collectionClass collection}} sortable-handle">
      <div class="card-image">
        {{#with image fileId}}
        <img src="{{this.url store=''}}">
        {{/with}}
      </div>
      <div class="card-content white-text">
        <span class="name">{{name}}</span><br>
        Order {{order}}
      </div>
      {{#unless locked collection}}
      <div class="card-action">
        <a class="close">Remove</a>
      </div>
      {{/unless}}
    </div>
  </div>
</template>

<template name="dropZone">

  <div id="dropzone" class="hide-on-small-only right">

    <div class="card-panel {{dropHover}}">
      <span class="white-text flow-text">
        Drop files here
      </span>
    </div>
  </div>

</template>