<template name="nav">
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <a href="#" class="brand-logo center">Infoscreen</a>
      </div>
    </nav>
  </header>
  <ul id="slide-out" class="side-nav fixed">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/collections/list">Files</a>
    </li>
    <li>
      <a href="/files/create">Create file</a>
    </li>
    <li>
      <a href="/files/add">Add file</a>
    </li>
    <li>
      <a href="/collections/add">Add collection</a>
    </li>
    {{#if isInRole 'admin'}}
    <li>
      <a href="/admin">Admin</a>
    </li>
    {{/if}}
    <li>
      <a href="/change-password">Change password</a>
    </li>
  </ul>
  
</template>